<%= form_for(@fiddle) do |f| %>
  <% if @fiddle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fiddle.errors.count, "error") %> prohibited this fiddle from being saved:</h2>

      <ul>
      <% @fiddle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
